* {box-sizing: border-box;}
header {background-color: #af9edb; padding: 20px; text-align: center; font-size: 35px; border-radius: 20px;}
body {
    background-color: rgb(128, 211, 236);
    font-family: Garamond, serif;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
section {border-radius: 20px; }
aside {float: right; padding: 20px; width: 100%; background-color: #07979C; margin:0; border-radius: 20px;}
h1 {color:rgb(255, 255, 255); font: arial;}
h2 {color: rgb(255, 255, 255)}
h3 {color: white;}
p {color: rgb(255, 255, 255)}
article {float: left; padding: 20px; width: 100%; background-color: #056C70; border-radius: 20px;}
a {
    text-decoration: none;
    color: rgb(26, 8, 99);
}
footer {background-color: #056C70; padding: 5px;}
.sicsevan {color: black;}
.c1 {
    display: flex;
    justify-content: center;   
    gap: 0px;                       
}
.c2, .c3 {
    
    flex: 1;
}
